<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>列表渲染</title>
    <script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
    <div id="root">
        <h2>人员列表</h2>
        <input type="text" placeholder="请输入名字" v-model="keyWord">
        <button @click="sortType=0">年龄升序</button>
        <button @click="sortType=1">年龄降序</button>
        <button @click="sortType=2">原顺序</button>
        <ul>
            <li v-for="p in searchPersons" ::key="p.id">{{p.name}}-{{p.age}}</li>
        </ul>
    </div>
    <script>
        Vue.config.productionTip = false
        new Vue({
            el: '#root',
            data: {
                persons:[
                    {id:'001',name: '马冬梅', age: 19},
                    {id:'002',name: '周冬雨', age: 18},
                    {id:'003',name: '周杰伦', age: 21},
                    {id:'004',name: '梅花十三', age: 20}
                ],
                keyWord: '',
                sortType: 2  //0:升序，1:降序，2:原顺序
            },
            computed: {
                searchPersons() {
                    const arr = this.persons.filter(p => {
                        return p.name.indexOf(this.keyWord) !== -1
                    })
                    if(this.sortType === 0) {
                        return arr.sort((a, b) => {
                            return a.age - b.age
                        })
                    } else if(this.sortType === 1) {
                        return arr.sort((a, b) => {
                            return b.age - a.age
                        })
                    } else {
                        return arr
                   }
                }
            }
        })
    </script>
</body>
</html>